# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
*.egg
lib/
lib64/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
venv/
ENV/
env/
venv.bak/
env.bak/

# Python virtual environment directories
.idea/
.vscode/
*.env

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/

# VS Code settings
.vscode/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

.logs/
system.log